* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: $bgColor;
  font-family: $fontBase;
  font-weight: $fontWeight;
  font-size: $fontSize;
  color: $textColor;
}

#app {
  padding: 30px;
}

.container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
}
